{% extends "::base.html.twig" %}

{% block title %}LGMUserBundle:Enseignant_Chercheur:desactive{% endblock %}

{% block body %}
<h1>Welcome to the Enseignant_Chercheur:desactive page</h1>
{% endblock %}
