{% extends "LGMAdministrationBundle::layout.html.twig" %}
{% block page_body %}
    <h3> Voulez vous vraiment supprimer le sujet: <strong style="color:red;">
            {{sujet.nom}}</strong>  </h3>
<form method="POST" action="{{path('delete_sujet', {'token': sujet.token} )}}">
 <input type="submit" class="btn btn-danger" value="Oui" />   
<a href="{{path("index_sujet")}}" class="btn btn-warning">Non</a>
{{form_rest(form)}}
</form>
        {% endblock %}