{% extends "LGMAdministrationBundle::layout.html.twig" %}
{% block page_body %}
    <h3> Voulez vous vraiment supprimer le code : <strong style="color:red;">
            {{structure.denomination}}</strong> de votre structure </h3>
<form method="POST" action="{{path('delete_structure', {'token': structure.token} )}}">
 <input type="submit" class="btn btn-danger" value="Oui" />   
<a href="{{path("index_structure")}}" class="btn btn-warning">Non</a>
{{form_rest(form)}}
</form>
        {% endblock %}